.vs/*
build/*
packages/*
x64/*
x86/*
Debug/*
x64/*
out/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CMake
#CMakeSettings.json
*.vim
CMakeFiles/*
*.sln
build/*

# Visual Studio
packages/*
VoxelGame.vcxproj*
Release/*
out/*

.vscode/*
vc140.pdb
copyDlls.cmd
copyFiles.ps1
